In [ ]:
import openai
import sqlite3
import pandas as pd
import os
import re
import time
import random
from openai.error import RateLimitError, OpenAIError

# OpenAI API key
openai.api_key = "Your API here"

# Helper Function

In [3]:
def generate_sql(user_question, model="ft:gpt-4o-2024-08-06:personal::AXYv83vn", max_retries=5):
    """
    Converts a natural language question into an SQL query using a fine-tuned GPT chat model.
    
    Implements a retry mechanism with exponential backoff to handle rate limit errors.
    
    :param user_question: The user's natural language question
    :param model: The name of the fine-tuned GPT chat model
    :param max_retries: Maximum number of retry attempts
    :return: The generated SQL query as a string
    """
    prompt = f"""
Pretend you are an expert at converting natural language questions into accurate SQL queries. Please generate an accurate SQL query based on the following natural language question and database schema provided below. Think sequentially and refer to the sample natural language questions with correct and incorrect outputs as well.

Database Schema:
Table 1: t_zacks_fc (This table contains fundamental indicators for companies)
Columns: 'ticker' = Unique zacks Identifier for each company/stock, ticker or trading symbol, 'comp_name' = Company name, 'exchange' = Exchange traded, 'per_end_date' = Period end date which represents quarterly data, 'per_type' = Period type (eg. Q for quarterly data), 'filing_date' = Filing date, 'filing_type' = Filing type: 10-K, 10-Q, PRELIM, 'zacks_sector_code' = Zacks sector code (Numeric Value eg. 11 = Aerospace), 'eps_diluted_net_basic’ = Earnings per share (EPS) net (Company's net earnings or losses attributable to common shareholders per basic share basis), 'lterm_debt_net_tot' = Net long-term debt (The net amount of long term debt issued and repaid. This field is either calculated as the sum of the long term debt fields or used if a company does not report debt issued and repaid separately).
Keys: ticker, per_end_date, per_type

Table 2: t_zacks_fr (This table contains fundamental ratios for companies)
Columns: 'ticker' = Unique zacks Identifier for each company/stock, ticker or trading symbol, 'per_end_date' = Period end date which represents quarterly data, 'per_type' = Period type (eg. Q for quarterly data), ‘ret_invst’ = Return on investments (An indicator of how profitable a company is relative to its assets invested by shareholders and long-term bond holders. Calculated by dividing a company's operating earnings by its long-term debt and shareholders equity), ‘tot_debt_tot_equity’ = Total debt / total equity (A measure of a company's financial leverage calculated by dividing its long-term debt by stockholders' equity).
Keys: ticker, per_end_date, per_type.

Table 3: t_zacks_mktv (This table contains market value data for companies)
Columns: 'ticker' = Unique zacks Identifier for each company/stock, ticker or trading symbol, 'per_end_date' = Period end date which represents quarterly data, 'per_type' = Period type (eg. Q for quarterly data), ‘mkt_val’ = Market Cap of Company (shares out x last monthly price per share - unit is in Millions).
Keys: ticker, per_end_date, per_type.

Table 4: t_zacks_shrs (This table contains shares outstanding data for companies)
Columns: 'ticker' = Unique zacks Identifier for each company/stock, ticker or trading symbol, 'per_end_date' = Period end date which represents quarterly data, 'per_type' = Period type (eg. Q for quarterly data), ‘shares_out’ = Number of Common Shares Outstanding from the front page of 10K/Q.
Keys: ticker, per_end_date, per_type.

Table 5: t_zacks_sectors (This table contains the zacks sector codes and their corresponding sectors)
Columns: 'zacks_sector_code' = Unique identifier for each zacks sector, 'sector': the sector descriptions that correspond to the sector code 
Keys: zacks_sector_code 

Sample natural language questions with correct and incorrect outputs: 
Sample prompt 1: Output ticker with the largest market value recorded on any given period end date. 
Correct output for prompt 1: SELECT ticker, per_end_date, MAX(mkt_val) AS max_market_value FROM t_zacks_mktv GROUP BY per_end_date ORDER BY max_market_value DESC LIMIT 1;
Incorrect output for prompt 1: SELECT MAX(mkt_val) , ticker FROM t_zacks_mktv GROUP BY ticker

Sample prompt 2: What is the company name with the lowest market cap?
Correct output for prompt 2: SELECT fc.comp_name, mktv.ticker, mktv.mkt_val FROM t_zacks_mktv AS mktv JOIN t_zacks_fc AS fc ON mktv.ticker = fc.ticker WHERE mktv.mkt_val = (SELECT MIN(mkt_val) FROM t_zacks_mktv);
Incorrect output for prompt 2:  SELECT T1.comp_name FROM t_zacks_fc AS T1 INNER JOIN t_zacks_mktv AS T2 ON T1.ticker = T2.ticker AND T1.per_end_date = T2.per_end_date AND T1.per_type = T2.per_type ORDER BY T2.mkt_val LIMIT 1

Sample prompt 3: Filter t_zacks_fc to only show companies with a total debt-to-equity ratio greater than 1.
Correct output for prompt 3: SELECT * FROM t_zacks_fr WHERE tot_debt_tot_equity > 1;
Incorrect output for prompt 3: SELECT * FROM t_zacks_fr WHERE t_zacks_mktv > 1;

Sample prompt 4: Filter t_zacks_shrs to include companies with more than 500 million shares outstanding as of the most recent quarter.
Correct output for prompt 4: SELECT *
FROM t_zacks_shrs
WHERE shares_out > 5000
ORDER BY per_end_date DESC;
Incorrect output for prompt 4: SELECT * FROM t_zacks_shrs WHERE shares_out > 500000000

Sample prompt 5: Combine t_zacks_mktv and t_zacks_shrs to show tickers with market cap and shares outstanding in the latest period end date.
Correct output for prompt 5: SELECT mktv.ticker, mktv.per_end_date, mktv.mkt_val, shrs.shares_out
FROM t_zacks_mktv mktv
JOIN t_zacks_shrs shrs ON mktv.ticker = shrs.ticker AND mktv.per_end_date = shrs.per_end_date
ORDER BY mktv.per_end_date DESC;
Incorrect output for prompt 5: SELECT ticker, mkt_val, shares_out FROM t_zacks_mktv INNER JOIN t_zacks_shrs ON t_zacks_mktv.ticker = t_zacks_shrs.ticker AND t_zacks_mktv.per_end_date = t_zacks_shrs.per_end_date ORDER BY per_end_date DESC LIMIT 1

Sample prompt 6: Join t_zacks_fc and t_zacks_fr to show tickers with total debt-to-equity ratios and EPS from NASDAQ as of Q2 2024.
Correct output for prompt 6: SELECT fc.ticker, fc.eps_diluted_net_basic, fr.tot_debt_tot_equity
FROM t_zacks_fc fc
JOIN t_zacks_fr fr ON fc.ticker = fr.ticker AND fc.per_end_date = fr.per_end_date
WHERE fc.exchange = 'NASDAQ' AND fc.per_type = 'Q' AND fc.per_end_date BETWEEN '2024-04-01' AND '2024-06-30';
Incorrect output for prompt 6: SELECT T1.ticker, T1.eps_diluted_net_basic, T2.ret_invst, T2.tot_debt_tot_equity FROM t_zacks_fc AS T1 INNER JOIN t_zacks_fr AS T2 ON T1.ticker = T2.ticker AND T1.per_end_date = T2.per_end_date WHERE T1.exchange = 'NASDAQ' AND T1.per_type = 'Q2';

Please make sure that when you are joining 2 or more tables, you are using all 3 keys (ticker, per_end_date & per_type). Also, ensure that the SQL query is syntactically correct and provides the expected output based on the natural language question provided.

User's Question:
{user_question}

Please provide only the SQL query without any markdown, code block syntax, or explanations.
    """
    attempt = 0
    while attempt < max_retries:
        try:
            response = openai.ChatCompletion.create(
                model=model,
                messages=[
                    {"role": "system", "content": "You are a helpful assistant."},
                    {"role": "user", "content": prompt}
                ],
                max_tokens=300,  # Adjust based on complexity
                temperature=0.0,  # Set to 0 for deterministic output
                n=1,
                stop=None
            )
            # Retrieve the generated SQL query
            raw_sql = response.choices[0].message['content'].strip()
            print("\nGenerated SQL Query:")
            print(raw_sql)

            # Clean the SQL query by removing any markdown or code block syntax
            sql_query = re.sub(r'^```sql\s*', '', raw_sql, flags=re.IGNORECASE)
            sql_query = re.sub(r'```$', '', sql_query, flags=re.IGNORECASE)
            sql_query = sql_query.strip()

            print("\nCleaned SQL Query:")
            print(sql_query)
            return sql_query

        except RateLimitError as e:
            wait_time = 2 ** attempt + random.uniform(0, 1)
            print(f"Rate limit reached. Waiting for {wait_time:.2f} seconds before retrying...")
            time.sleep(wait_time)
            attempt += 1
        except OpenAIError as e:
            print(f"Error generating SQL query: {e}")
            return None

    print("Max retries exceeded. Failed to generate SQL query.")
    return None

def execute_sql(sql, database):
    """
    Executes an SQL query against a SQLite database.

    :param sql: The SQL query to execute
    :param database: Path to the SQLite database file
    :return: Result of the query as a Pandas DataFrame
    """
    try:
        with sqlite3.connect(database) as conn:
            result = pd.read_sql_query(sql, conn)
        return result
    except Exception as e:
        print(f"Error executing SQL query: {e}")
        return None

# Main Function

In [ ]:
# Define the path to your SQLite database
database = r"E:\【Chicago】\[Autumn Semester\Project Lab\Database\zack_database.db"

# Define a list of natural language prompts
df_list = pd.read_excel('BofA Project Lab - ChatGPT New Prompts.xlsx')
list_prompts = df_list['Prompt'].values.tolist()

# Initialize dictionaries to store results
sql_dict = {}
result_dict = {}
output_results = []

for i, prompt in enumerate(list_prompts):
    print(f"\nProcessing Prompt {i+1}: {prompt}")
    
    # Generate SQL query from the prompt
    sql_query = generate_sql(prompt)
    if not sql_query:
        result_dict[i] = None
        output_results.append("SQL Generation Failed")
        continue
    
    sql_dict[i] = sql_query
    
    # Execute the SQL query on the SQLite database
    result = execute_sql(sql_query, database)
    result_dict[i] = result
    
    if result is not None and not result.empty:
        if result.shape == (1, 1):
            output_results.append(result.iloc[0, 0])
        else:
            output_results.append(result.shape)
    else:
        output_results.append("No Results Found or Execution Failed")

# Create a DataFrame to consolidate the results
df = pd.DataFrame({
    'Prompt': list_prompts,
    'SQL Query': [sql_dict.get(i, "") for i in range(len(list_prompts))],
    'Query Result': output_results
})

Processing Prompt 1: What is the highest quarterly return on investment value for any ticker in 2006 ?

Generated SQL Query:
SELECT ticker, MAX(ret_invst) AS max_roi FROM t_zacks_fr WHERE per_type = 'Q' AND per_end_date BETWEEN '2006-01-01' AND '2006-12-31' GROUP BY ticker ORDER BY max_roi DESC LIMIT 1;

Cleaned SQL Query:
SELECT ticker, MAX(ret_invst) AS max_roi FROM t_zacks_fr WHERE per_type = 'Q' AND per_end_date BETWEEN '2006-01-01' AND '2006-12-31' GROUP BY ticker ORDER BY max_roi DESC LIMIT 1;

Processing Prompt 2: What is the ticker for the company with the lowest shares outstanding in 2020?

Generated SQL Query:
SELECT ticker, MIN(shares_out) AS min_shares_out FROM t_zacks_shrs WHERE per_end_date BETWEEN '2020-01-01' AND '2020-12-31' GROUP BY ticker ORDER BY min_shares_out ASC LIMIT 1;

Cleaned SQL Query:
SELECT ticker, MIN(shares_out) AS min_shares_out FROM t_zacks_shrs WHERE per_end_date BETWEEN '2020-01-01' AND '2020-12-31' GROUP BY ticker ORDER BY min_shares_out ASC LIMIT 1;

Processing Prompt 3: What is the total debt to total equity ratio for NWN on 2022-09-30?

Generated SQL Query:
SELECT tot_debt_tot_equity FROM t_zacks_fr WHERE ticker = 'NWN' AND per_end_date = '2022-09-30';

Cleaned SQL Query:
SELECT tot_debt_tot_equity FROM t_zacks_fr WHERE ticker = 'NWN' AND per_end_date = '2022-09-30';

Processing Prompt 4: What stock exchange was the company Lam Research listed on in 2024?

Generated SQL Query:
SELECT exchange FROM t_zacks_fc WHERE comp_name = 'Lam Research' AND per_end_date BETWEEN '2024-01-01' AND '2024-12-31' LIMIT 1;

Cleaned SQL Query:
SELECT exchange FROM t_zacks_fc WHERE comp_name = 'Lam Research' AND per_end_date BETWEEN '2024-01-01' AND '2024-12-31' LIMIT 1;

Processing Prompt 5: Output all the company tickers and sector codes that are in the Retail and Wholesale sector (sector code 3) in 2006

Generated SQL Query:
SELECT fc.ticker, fc.zacks_sector_code
FROM t_zacks_fc fc
WHERE fc.zacks_sector_code = 3
AND fc.per_end_date BETWEEN '2006-01-01' AND '2006-12-31';

Cleaned SQL Query:
SELECT fc.ticker, fc.zacks_sector_code
FROM t_zacks_fc fc
WHERE fc.zacks_sector_code = 3
AND fc.per_end_date BETWEEN '2006-01-01' AND '2006-12-31';

Processing Prompt 6: Output all companies that have net earnings per share less than 0.8 in March of 2019 reporting tickers and their net earnings per share

Generated SQL Query:
SELECT ticker, eps_diluted_net_basic FROM t_zacks_fc WHERE eps_diluted_net_basic < 0.8 AND per_end_date BETWEEN '2019-03-01' AND '2019-03-31';

Cleaned SQL Query:
SELECT ticker, eps_diluted_net_basic FROM t_zacks_fc WHERE eps_diluted_net_basic < 0.8 AND per_end_date BETWEEN '2019-03-01' AND '2019-03-31';

Processing Prompt 7: Output the top 10 companies with the highest market value in 2023 reporting tickers, market value, and date

Generated SQL Query:
SELECT ticker, per_end_date, mkt_val FROM t_zacks_mktv WHERE per_end_date BETWEEN '2023-01-01' AND '2023-12-31' ORDER BY mkt_val DESC LIMIT 10;

Cleaned SQL Query:
SELECT ticker, per_end_date, mkt_val FROM t_zacks_mktv WHERE per_end_date BETWEEN '2023-01-01' AND '2023-12-31' ORDER BY mkt_val DESC LIMIT 10;

Processing Prompt 8: Find all companies with market value higher than outstanding shares in 2008 and output their ticker, market value, date, and shares outstanding

Generated SQL Query:
SELECT mktv.ticker, mktv.mkt_val, mktv.per_end_date, shrs.shares_out
FROM t_zacks_mktv AS mktv
JOIN t_zacks_shrs AS shrs ON mktv.ticker = shrs.ticker AND mktv.per_end_date = shrs.per_end_date
WHERE mktv.mkt_val > shrs.shares_out AND mktv.per_end_date BETWEEN '2008-01-01' AND '2008-12-31';

Cleaned SQL Query:
SELECT mktv.ticker, mktv.mkt_val, mktv.per_end_date, shrs.shares_out
FROM t_zacks_mktv AS mktv
JOIN t_zacks_shrs AS shrs ON mktv.ticker = shrs.ticker AND mktv.per_end_date = shrs.per_end_date
WHERE mktv.mkt_val > shrs.shares_out AND mktv.per_end_date BETWEEN '2008-01-01' AND '2008-12-31';

Processing Prompt 9: Find all tickers in the technology sector (sector code 10) that has shares outstanding less than 1000 in 2022 and output their ticker, sector code, and shares outstanding

Generated SQL Query:
SELECT shrs.ticker, fc.zacks_sector_code, shrs.shares_out
FROM t_zacks_shrs AS shrs
JOIN t_zacks_fc AS fc ON shrs.ticker = fc.ticker AND shrs.per_end_date = fc.per_end_date
WHERE fc.zacks_sector_code = 10 AND shrs.shares_out < 1000 AND shrs.per_end_date BETWEEN '2022-01-01' AND '2022-12-31';

Cleaned SQL Query:
SELECT shrs.ticker, fc.zacks_sector_code, shrs.shares_out
FROM t_zacks_shrs AS shrs
JOIN t_zacks_fc AS fc ON shrs.ticker = fc.ticker AND shrs.per_end_date = fc.per_end_date
WHERE fc.zacks_sector_code = 10 AND shrs.shares_out < 1000 AND shrs.per_end_date BETWEEN '2022-01-01' AND '2022-12-31';

Processing Prompt 10: Output the filing type, ticker, and return on investment for all tickers with negative return on investment in 2024

Generated SQL Query:
SELECT fc.filing_type, fr.ticker, fr.ret_invst
FROM t_zacks_fr fr
JOIN t_zacks_fc fc ON fr.ticker = fc.ticker AND fr.per_end_date = fc.per_end_date AND fr.per_type = fc.per_type
WHERE fr.ret_invst < 0 AND fr.per_end_date BETWEEN '2024-01-01' AND '2024-12-31';

Cleaned SQL Query:
SELECT fc.filing_type, fr.ticker, fr.ret_invst
FROM t_zacks_fr fr
JOIN t_zacks_fc fc ON fr.ticker = fc.ticker AND fr.per_end_date = fc.per_end_date AND fr.per_type = fc.per_type
WHERE fr.ret_invst < 0 AND fr.per_end_date BETWEEN '2024-01-01' AND '2024-12-31';

Processing Prompt 11: What’s the average net long-term debt for each company from 2006 to 2024?

Generated SQL Query:
SELECT ticker, AVG(lterm_debt_net_tot) AS avg_long_term_debt FROM t_zacks_fc WHERE per_end_date BETWEEN '2006-01-01' AND '2024-12-31' GROUP BY ticker;

Cleaned SQL Query:
SELECT ticker, AVG(lterm_debt_net_tot) AS avg_long_term_debt FROM t_zacks_fc WHERE per_end_date BETWEEN '2006-01-01' AND '2024-12-31' GROUP BY ticker;

Processing Prompt 12: What’s the average return on investments for all companies every year from 2006 to 2024?

Generated SQL Query:
SELECT strftime('%Y', per_end_date) AS year, AVG(ret_invst) AS avg_return_on_investments FROM t_zacks_fr WHERE per_end_date BETWEEN '2006-01-01' AND '2024-12-31' GROUP BY year;

Cleaned SQL Query:
SELECT strftime('%Y', per_end_date) AS year, AVG(ret_invst) AS avg_return_on_investments FROM t_zacks_fr WHERE per_end_date BETWEEN '2006-01-01' AND '2024-12-31' GROUP BY year;

Processing Prompt 13: Show me the average market cap and share count for each company by year from 2006 to 2024.

Generated SQL Query:
SELECT
    mktv.ticker,
    strftime('%Y', mktv.per_end_date) AS year,
    AVG(mktv.mkt_val) AS avg_market_cap,
    AVG(shrs.shares_out) AS avg_shares_out
FROM
    t_zacks_mktv AS mktv
JOIN
    t_zacks_shrs AS shrs
ON
    mktv.ticker = shrs.ticker
    AND mktv.per_end_date = shrs.per_end_date
    AND mktv.per_type = shrs.per_type
WHERE
    mktv.per_end_date BETWEEN '2006-01-01' AND '2024-12-31'
GROUP BY
    mktv.ticker,
    year
ORDER BY
    mktv.ticker,
    year;

Cleaned SQL Query:
SELECT
    mktv.ticker,
    strftime('%Y', mktv.per_end_date) AS year,
    AVG(mktv.mkt_val) AS avg_market_cap,
    AVG(shrs.shares_out) AS avg_shares_out
FROM
    t_zacks_mktv AS mktv
JOIN
    t_zacks_shrs AS shrs
ON
    mktv.ticker = shrs.ticker
    AND mktv.per_end_date = shrs.per_end_date
    AND mktv.per_type = shrs.per_type
WHERE
    mktv.per_end_date BETWEEN '2006-01-01' AND '2024-12-31'
GROUP BY
    mktv.ticker,
    year
ORDER BY
    mktv.ticker,
    year;

Processing Prompt 14: What’s the average EPS by sector for each year from 2006 to 2024?

Generated SQL Query:
SELECT fc.zacks_sector_code, strftime('%Y', fc.per_end_date) AS year, AVG(fc.eps_diluted_net_basic) AS avg_eps FROM t_zacks_fc fc WHERE fc.per_end_date BETWEEN '2006-01-01' AND '2024-12-31' GROUP BY fc.zacks_sector_code, year;

Cleaned SQL Query:
SELECT fc.zacks_sector_code, strftime('%Y', fc.per_end_date) AS year, AVG(fc.eps_diluted_net_basic) AS avg_eps FROM t_zacks_fc fc WHERE fc.per_end_date BETWEEN '2006-01-01' AND '2024-12-31' GROUP BY fc.zacks_sector_code, year;

Processing Prompt 15: Can I see each company’s market cap alongside its basic information from t_zacks_fc by quarter from 2006 to 2024?

Generated SQL Query:
SELECT fc.ticker, fc.comp_name, fc.exchange, fc.per_end_date, fc.eps_diluted_net_basic, mktv.mkt_val
FROM t_zacks_fc fc
JOIN t_zacks_mktv mktv ON fc.ticker = mktv.ticker AND fc.per_end_date = mktv.per_end_date AND fc.per_type = mktv.per_type
WHERE fc.per_type = 'Q' AND fc.per_end_date BETWEEN '2006-01-01' AND '2024-12-31'
ORDER BY fc.per_end_date, fc.ticker;

Cleaned SQL Query:
SELECT fc.ticker, fc.comp_name, fc.exchange, fc.per_end_date, fc.eps_diluted_net_basic, mktv.mkt_val
FROM t_zacks_fc fc
JOIN t_zacks_mktv mktv ON fc.ticker = mktv.ticker AND fc.per_end_date = mktv.per_end_date AND fc.per_type = mktv.per_type
WHERE fc.per_type = 'Q' AND fc.per_end_date BETWEEN '2006-01-01' AND '2024-12-31'
ORDER BY fc.per_end_date, fc.ticker;

Processing Prompt 16: Give me each company’s EPS and ROI for every quarter from 2006 to 2024.

Generated SQL Query:
SELECT fc.ticker, fc.per_end_date, fc.eps_diluted_net_basic, fr.ret_invst FROM t_zacks_fc fc JOIN t_zacks_fr fr ON fc.ticker = fr.ticker AND fc.per_end_date = fr.per_end_date AND fc.per_type = fr.per_type WHERE fc.per_type = 'Q' AND fc.per_end_date BETWEEN '2006-01-01' AND '2024-12-31';

Cleaned SQL Query:
SELECT fc.ticker, fc.per_end_date, fc.eps_diluted_net_basic, fr.ret_invst FROM t_zacks_fc fc JOIN t_zacks_fr fr ON fc.ticker = fr.ticker AND fc.per_end_date = fr.per_end_date AND fc.per_type = fr.per_type WHERE fc.per_type = 'Q' AND fc.per_end_date BETWEEN '2006-01-01' AND '2024-12-31';

Processing Prompt 17: I need each company’s market cap and total shares outstanding by quarter from 2006 to 2024.

Generated SQL Query:
SELECT mktv.ticker, mktv.per_end_date, mktv.mkt_val, shrs.shares_out FROM t_zacks_mktv mktv JOIN t_zacks_shrs shrs ON mktv.ticker = shrs.ticker AND mktv.per_end_date = shrs.per_end_date AND mktv.per_type = shrs.per_type WHERE mktv.per_type = 'Q' AND mktv.per_end_date BETWEEN '2006-01-01' AND '2024-12-31' ORDER BY mktv.per_end_date, mktv.ticker;

Cleaned SQL Query:
SELECT mktv.ticker, mktv.per_end_date, mktv.mkt_val, shrs.shares_out FROM t_zacks_mktv mktv JOIN t_zacks_shrs shrs ON mktv.ticker = shrs.ticker AND mktv.per_end_date = shrs.per_end_date AND mktv.per_type = shrs.per_type WHERE mktv.per_type = 'Q' AND mktv.per_end_date BETWEEN '2006-01-01' AND '2024-12-31' ORDER BY mktv.per_end_date, mktv.ticker;

Processing Prompt 18: What’s the highest quarterly EPS that Textron (TXT) has reported in 2017?

Generated SQL Query:
SELECT MAX(eps_diluted_net_basic) AS max_eps FROM t_zacks_fc WHERE ticker = 'TXT' AND per_end_date BETWEEN '2017-01-01' AND '2017-12-31';

Cleaned SQL Query:
SELECT MAX(eps_diluted_net_basic) AS max_eps FROM t_zacks_fc WHERE ticker = 'TXT' AND per_end_date BETWEEN '2017-01-01' AND '2017-12-31';

Processing Prompt 19: Can I get the average market cap for Aon (AON) in 2019?

Generated SQL Query:
SELECT AVG(mkt_val) AS avg_market_cap FROM t_zacks_mktv WHERE ticker = 'AON' AND per_end_date BETWEEN '2019-01-01' AND '2019-12-31';

Cleaned SQL Query:
SELECT AVG(mkt_val) AS avg_market_cap FROM t_zacks_mktv WHERE ticker = 'AON' AND per_end_date BETWEEN '2019-01-01' AND '2019-12-31';

Processing Prompt 20: What’s the average return on investments (ROI) for Astronics Corporation (ATRO) in 2017?

Generated SQL Query:
SELECT AVG(ret_invst) AS avg_roi FROM t_zacks_fr WHERE ticker = 'ATRO' AND per_end_date BETWEEN '2017-01-01' AND '2017-12-31';

Cleaned SQL Query:
SELECT AVG(ret_invst) AS avg_roi FROM t_zacks_fr WHERE ticker = 'ATRO' AND per_end_date BETWEEN '2017-01-01' AND '2017-12-31';

Processing Prompt 21: Query the name of the company with the largest market value as of 2024.

Generated SQL Query:
SELECT fc.comp_name, mktv.ticker, mktv.mkt_val
FROM t_zacks_mktv AS mktv
JOIN t_zacks_fc AS fc ON mktv.ticker = fc.ticker
WHERE mktv.per_end_date BETWEEN '2024-01-01' AND '2024-12-31'
ORDER BY mktv.mkt_val DESC
LIMIT 1;

Cleaned SQL Query:
SELECT fc.comp_name, mktv.ticker, mktv.mkt_val
FROM t_zacks_mktv AS mktv
JOIN t_zacks_fc AS fc ON mktv.ticker = fc.ticker
WHERE mktv.per_end_date BETWEEN '2024-01-01' AND '2024-12-31'
ORDER BY mktv.mkt_val DESC
LIMIT 1;

Processing Prompt 22: Query the ticker of the company with the highest total debt-to-equity ratio

Generated SQL Query:
SELECT ticker, MAX(tot_debt_tot_equity) AS max_debt_to_equity FROM t_zacks_fr GROUP BY ticker ORDER BY max_debt_to_equity DESC LIMIT 1;

Cleaned SQL Query:
SELECT ticker, MAX(tot_debt_tot_equity) AS max_debt_to_equity FROM t_zacks_fr GROUP BY ticker ORDER BY max_debt_to_equity DESC LIMIT 1;

Processing Prompt 23: Query the total number of unique companies (tickers) in t_zacks_fc

Generated SQL Query:
SELECT COUNT(DISTINCT ticker) AS total_unique_companies FROM t_zacks_fc;

Cleaned SQL Query:
SELECT COUNT(DISTINCT ticker) AS total_unique_companies FROM t_zacks_fc;

Processing Prompt 24: Query the average return on investment (ret_invst) across all companies

Generated SQL Query:
SELECT AVG(ret_invst) AS avg_return_on_investment FROM t_zacks_fr;

Cleaned SQL Query:
SELECT AVG(ret_invst) AS avg_return_on_investment FROM t_zacks_fr;

Processing Prompt 25: Query the company names and earnings per share for companies that filed reports in 2023 or later

Generated SQL Query:
SELECT comp_name, eps_diluted_net_basic FROM t_zacks_fc WHERE filing_date >= '2023-01-01';

Cleaned SQL Query:
SELECT comp_name, eps_diluted_net_basic FROM t_zacks_fc WHERE filing_date >= '2023-01-01';

Processing Prompt 26: Query the tickers and return on investment for companies with annual reports (per_type = 'A') and a return on investment greater than 10

Generated SQL Query:
SELECT ticker, ret_invst FROM t_zacks_fr WHERE per_type = 'A' AND ret_invst > 10;

Cleaned SQL Query:
SELECT ticker, ret_invst FROM t_zacks_fr WHERE per_type = 'A' AND ret_invst > 10;

Processing Prompt 27: Query all records with market value greater than 5000, sorted in descending order by market value.

Generated SQL Query:
SELECT * FROM t_zacks_mktv WHERE mkt_val > 5000 ORDER BY mkt_val DESC;

Cleaned SQL Query:
SELECT * FROM t_zacks_mktv WHERE mkt_val > 5000 ORDER BY mkt_val DESC;

Processing Prompt 28: Join the t_zacks_fc and t_zacks_sectors tables to query the names and earnings per share of all companies in the "Consumer Staples" sector.

Generated SQL Query:
SELECT fc.comp_name, fc.eps_diluted_net_basic, fc.ticker
FROM t_zacks_fc fc
JOIN t_zacks_sectors sectors ON fc.zacks_sector_code = sectors.zacks_sector_code
WHERE sectors.sector = 'Consumer Staples';

Cleaned SQL Query:
SELECT fc.comp_name, fc.eps_diluted_net_basic, fc.ticker
FROM t_zacks_fc fc
JOIN t_zacks_sectors sectors ON fc.zacks_sector_code = sectors.zacks_sector_code
WHERE sectors.sector = 'Consumer Staples';
Error executing SQL query: Execution failed on sql 'SELECT fc.comp_name, fc.eps_diluted_net_basic, fc.ticker
FROM t_zacks_fc fc
JOIN t_zacks_sectors sectors ON fc.zacks_sector_code = sectors.zacks_sector_code
WHERE sectors.sector = 'Consumer Staples';': no such table: t_zacks_sectors

Processing Prompt 29: Join the t_zacks_fc and t_zacks_shrs tables to calculate the total earnings (EPS * shares outstanding) for each company for each period.

Generated SQL Query:
SELECT fc.ticker, fc.per_end_date, fc.per_type, fc.eps_diluted_net_basic * shrs.shares_out AS total_earnings FROM t_zacks_fc fc JOIN t_zacks_shrs shrs ON fc.ticker = shrs.ticker AND fc.per_end_date = shrs.per_end_date AND fc.per_type = shrs.per_type;

Cleaned SQL Query:
SELECT fc.ticker, fc.per_end_date, fc.per_type, fc.eps_diluted_net_basic * shrs.shares_out AS total_earnings FROM t_zacks_fc fc JOIN t_zacks_shrs shrs ON fc.ticker = shrs.ticker AND fc.per_end_date = shrs.per_end_date AND fc.per_type = shrs.per_type;

Processing Prompt 30: Join the t_zacks_fc and t_zacks_sectors tables to count the number of companies in each sector that filed reports after 2020.

Generated SQL Query:
SELECT fc.zacks_sector_code, COUNT(DISTINCT fc.ticker) AS company_count FROM t_zacks_fc fc JOIN t_zacks_sectors sectors ON fc.zacks_sector_code = sectors.zacks_sector_code WHERE fc.filing_date > '2020-12-31' GROUP BY fc.zacks_sector_code;

Cleaned SQL Query:
SELECT fc.zacks_sector_code, COUNT(DISTINCT fc.ticker) AS company_count FROM t_zacks_fc fc JOIN t_zacks_sectors sectors ON fc.zacks_sector_code = sectors.zacks_sector_code WHERE fc.filing_date > '2020-12-31' GROUP BY fc.zacks_sector_code;
Error executing SQL query: Execution failed on sql 'SELECT fc.zacks_sector_code, COUNT(DISTINCT fc.ticker) AS company_count FROM t_zacks_fc fc JOIN t_zacks_sectors sectors ON fc.zacks_sector_code = sectors.zacks_sector_code WHERE fc.filing_date > '2020-12-31' GROUP BY fc.zacks_sector_code;': no such table: t_zacks_sectors

Processing Prompt 31: Give me the company name that had the highest EPS in 2020.
Rate limit reached. Waiting for 1.81 seconds before retrying...
Rate limit reached. Waiting for 2.25 seconds before retrying...

Generated SQL Query:
SELECT comp_name, ticker, MAX(eps_diluted_net_basic) AS max_eps FROM t_zacks_fc WHERE per_end_date BETWEEN '2020-01-01' AND '2020-12-31' GROUP BY ticker ORDER BY max_eps DESC LIMIT 1;

Cleaned SQL Query:
SELECT comp_name, ticker, MAX(eps_diluted_net_basic) AS max_eps FROM t_zacks_fc WHERE per_end_date BETWEEN '2020-01-01' AND '2020-12-31' GROUP BY ticker ORDER BY max_eps DESC LIMIT 1;

Processing Prompt 32: What is the ticker with the lowest 'lterm_debt_net_tot' in 2017?

Generated SQL Query:
SELECT ticker, MIN(lterm_debt_net_tot) AS min_debt FROM t_zacks_fc WHERE per_end_date BETWEEN '2017-01-01' AND '2017-12-31';

Cleaned SQL Query:
SELECT ticker, MIN(lterm_debt_net_tot) AS min_debt FROM t_zacks_fc WHERE per_end_date BETWEEN '2017-01-01' AND '2017-12-31';

Processing Prompt 33: I want the average EPS in 2018 for all companies that start with the letter A listed on NASDAQ.
Rate limit reached. Waiting for 1.77 seconds before retrying...

Generated SQL Query:
SELECT AVG(eps_diluted_net_basic) AS avg_eps FROM t_zacks_fc WHERE exchange = 'NASDAQ' AND comp_name LIKE 'A%' AND per_end_date BETWEEN '2018-01-01' AND '2018-12-31';

Cleaned SQL Query:
SELECT AVG(eps_diluted_net_basic) AS avg_eps FROM t_zacks_fc WHERE exchange = 'NASDAQ' AND comp_name LIKE 'A%' AND per_end_date BETWEEN '2018-01-01' AND '2018-12-31';

Processing Prompt 34: Filter t_zacks_fc to give me EPS values for all companies listed on NASDAQ
Rate limit reached. Waiting for 1.10 seconds before retrying...
Rate limit reached. Waiting for 2.37 seconds before retrying...

Generated SQL Query:
SELECT ticker, per_end_date, eps_diluted_net_basic FROM t_zacks_fc WHERE exchange = 'NASDAQ';

Cleaned SQL Query:
SELECT ticker, per_end_date, eps_diluted_net_basic FROM t_zacks_fc WHERE exchange = 'NASDAQ';

Processing Prompt 35: I want the eps and roi values for all companies in sector 6.
Rate limit reached. Waiting for 1.31 seconds before retrying...

Generated SQL Query:
SELECT fc.ticker, fc.eps_diluted_net_basic, fr.ret_invst
FROM t_zacks_fc fc
JOIN t_zacks_fr fr ON fc.ticker = fr.ticker AND fc.per_end_date = fr.per_end_date AND fc.per_type = fr.per_type
WHERE fc.zacks_sector_code = 6;

Cleaned SQL Query:
SELECT fc.ticker, fc.eps_diluted_net_basic, fr.ret_invst
FROM t_zacks_fc fc
JOIN t_zacks_fr fr ON fc.ticker = fr.ticker AND fc.per_end_date = fr.per_end_date AND fc.per_type = fr.per_type
WHERE fc.zacks_sector_code = 6;

Processing Prompt 36: I want the market cap for all companies in sector 7
Rate limit reached. Waiting for 1.31 seconds before retrying...

Generated SQL Query:
SELECT mktv.ticker, mktv.per_end_date, mktv.mkt_val
FROM t_zacks_mktv AS mktv
JOIN t_zacks_fc AS fc ON mktv.ticker = fc.ticker AND mktv.per_end_date = fc.per_end_date
WHERE fc.zacks_sector_code = 7;

Cleaned SQL Query:
SELECT mktv.ticker, mktv.per_end_date, mktv.mkt_val
FROM t_zacks_mktv AS mktv

In [5]:
# Display the DataFrame
df

,Prompt,SQL Query,Query Result
0,What is the highest quarterly return on invest...,"SELECT ticker, MAX(ret_invst) AS max_roi FROM ...",ticker max_roi 0 OPK 1191386.0
1,What is the ticker for the company with the lo...,"SELECT ticker, MIN(shares_out) AS min_shares_o...",ticker min_shares_out 0 GPUS 0.0
2,What is the total debt to total equity ratio f...,SELECT tot_debt_tot_equity FROM t_zacks_fr WHE...,1.3192
3,What stock exchange was the company Lam Resear...,SELECT exchange FROM t_zacks_fc WHERE comp_nam...,NASDAQ
4,Output all the company tickers and sector code...,"SELECT fc.ticker, fc.zacks_sector_code\nFROM t...",ticker zacks_sector_code 0 DBI ...
...,...,...,...
72,Find the total number of companies with market...,SELECT COUNT(*) AS company_count\nFROM (\n ...,148
73,Calculate the sum of shares outstanding for co...,SELECT SUM(shrs.shares_out) AS total_shares_ou...,29343.23
74,Determine the ticker of the company with the l...,"SELECT fr.ticker, fr.ret_invst\nFROM t_zacks_f...",ticker ret_invst 0 AEMD -8255.738
75,Output the tickers of the companies in the ban...,SELECT mktv.ticker\nFROM t_zacks_mktv AS mktv\...,ticker 0 AFL 1 AIG 2 ALL 3 A...
76,I want all data for the ticker MSFT from t_zac...,"SELECT fc.*, fr.ret_invst, fr.tot_debt_tot_equ...",ticker comp_name exchange per_end_date per...

In [6]:
df.to_excel('testing_GPT_SQL.xlsx')

In [9]:
result.shape

(59, 14)