In [1]:
import pandas as pd
import sqlite3

# 1. Create Database and store data

In [ ]:
# Create SQLite database connection (local file storage)
conn = sqlite3.connect('zack_database.db')

# Function: Save parquet file to a specified table
def import_parquet_to_table(parquet_file_path, table_name):
    df = pd.read_parquet(parquet_file_path)  # Load parquet file into DataFrame
    df.to_sql(table_name, conn, if_exists='replace', index=False)  # Write DataFrame to the specified table
    print(f"Data from {parquet_file_path} successfully imported into table '{table_name}'.")

# Example: Store multiple parquet files into different tables
parquet_files = {
    "t_zacks_fc.parquet": "t_zacks_fc",
    "t_zacks_fr.parquet": "t_zacks_fr",
    "t_zacks_mktv.parquet": "t_zacks_mktv",
    "t_zacks_shrs.parquet": "t_zacks_shrs"
}

# Import each parquet file into the corresponding table
for file_path, table_name in parquet_files.items():
    import_parquet_to_table(file_path, table_name)

Data from t_zacks_fc.parquet successfully imported into table 't_zacks_fc'.
Data from t_zacks_fr.parquet successfully imported into table 't_zacks_fr'.
Data from t_zacks_mktv.parquet successfully imported into table 't_zacks_mktv'.
Data from t_zacks_shrs.parquet successfully imported into table 't_zacks_shrs'.

# 2. Extracting Data

In [3]:
# Example query: Extract data from different tables
# Extract data from 'zacks_data' table
query_zacks = """
SELECT ticker, comp_name, per_end_date, eps_diluted_net_basic
FROM t_zacks_fc
WHERE ticker = 'AAPL'
ORDER BY per_end_date DESC;
"""
zacks_df = pd.read_sql_query(query_zacks, conn)

zacks_df

   ticker comp_name per_end_date  eps_diluted_net_basic
0    AAPL     Apple   2024-09-30                 0.9700
1    AAPL     Apple   2024-09-30                 6.0800
2    AAPL     Apple   2024-06-30                 1.4000
3    AAPL     Apple   2024-03-31                 1.5300
4    AAPL     Apple   2023-12-31                 2.1800
..    ...       ...          ...                    ...
89   AAPL     Apple   2006-12-31                 0.0407
90   AAPL     Apple   2006-09-30                 0.0218
91   AAPL     Apple   2006-09-30                 0.0811
92   AAPL     Apple   2006-06-30                 0.0193
93   AAPL     Apple   2006-03-31                 0.0168

[94 rows x 4 columns]

In [4]:
# Close database connection
conn.close()