In [1]:
import pandas as pd
import sqlite3

# 1. Create Database and store data

In [2]:
# Create SQLite database connection (local file storage)
conn = sqlite3.connect('zack_database.db')

# Function: Save CSV file to a specified table
def import_csv_to_table(csv_file_path, table_name):
    df = pd.read_csv(csv_file_path)  # Load CSV file into DataFrame
    df.to_sql(table_name, conn, if_exists='replace', index=False)  # Write DataFrame to the specified table
    print(f"Data from {csv_file_path} successfully imported into table '{table_name}'.")

# Example: Store multiple CSV files into different tables
csv_files = {
    "t_zacks_fc.csv": "t_zacks_fc",
    "t_zacks_fr.csv": "t_zacks_fr",
    "t_zacks_mktv.csv": "t_zacks_mktv",
    "t_zacks_shrs.csv": "t_zacks_shrs"
}

# Import each CSV file into the corresponding table
for file_path, table_name in csv_files.items():
    import_csv_to_table(file_path, table_name)

Data from t_zacks_fc.csv successfully imported into table 't_zacks_fc'.
Data from t_zacks_fr.csv successfully imported into table 't_zacks_fr'.
Data from t_zacks_mktv.csv successfully imported into table 't_zacks_mktv'.
Data from t_zacks_shrs.csv successfully imported into table 't_zacks_shrs'.

# 2. Extracting Data

In [4]:
# Example query: Extract data from different tables
# Extract data from 'zacks_data' table
query_zacks = """
SELECT ticker, comp_name, per_end_date, eps_diluted_net_basic
FROM t_zacks_fc
WHERE ticker = 'AAPL'
ORDER BY per_end_date DESC;
"""
zacks_df = pd.read_sql_query(query_zacks, conn)

zacks_df

  ticker comp_name per_end_date  eps_diluted_net_basic
0   AAPL     Apple   2024-06-30                   1.40
1   AAPL     Apple   2024-03-31                   1.53

In [5]:
# Close database connection
conn.close()